@font-face {
  font-family: "OpenSans";
  src: url("./assets/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "OpenSans";
  background-image: url('./assets/indexBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 0 20px;
}

.centerBlock {
  max-width: 1144px;
  text-align: center;
}

.title {
  font-size: 5em;
  margin-bottom: 10px;
  font-weight: 700;
}

.text {
  font-size: 1.7em;
  line-height: 1.1em;
  font-weight: 400;
  margin: 30px 0;
  font-family: "OpenSans" sans-serif;
  white-space: pre;
  margin: 0 auto;
}

.button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 300px;
  padding: 18px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #fff;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}

.divider {
  margin: 30px auto;
  max-width: 50%;
}

.socialmedia {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
  border: 3px solid #fff;
  color: #fff;
  font-size: 1.25em;
  cursor: pointer;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


.link {
  width: 50px;
  height: 50px;
  
}

.link img {
  width: 100%;
  height: 100%;
}

.button:hover {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5); /* fallback for IE */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.socialmedia:hover {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5); /* fallback for IE */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}

.links:hover {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, .5); /* fallback for IE */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}


